<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Yourself</title>
    <link rel="icon" href="/img/meet.svg" type="image/icon type" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/formstyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex-container">
      <div class="content-container">
        <div class="form-container">
          <form action="/programmers" method="POST">
            <h1>Create New Profile</h1>
            <br />
            <br />
            <span class="subtitle">NAME:</span>
            <br />
            <input type="text" name="name" value="" />
            <br />
            <span class="subtitle">COUNTRY:</span>
            <br />
            <input type="text" name="country" value="" />
            <br />
            <span class="subtitle">STACK:</span>
            <br />
            <input type="text" name="stack" value="" />
            <br />
            <span class="subtitle">EXPERIENCE:</span>
            <br />
            <input type="text" name="experience" value="" />
            <br />
            <span class="subtitle">MAIL:</span>
            <br />
            <input type="text" name="mail" value="" />
            <br />
            <span class="subtitle">GITHUB ID:</span>
            <br />
            <input type="text" name="github" value="" />
            <br />
            <br /><br />
            <input type="submit" value="SUBMIT" class="submit-btn" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
