<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pair Programming</title>
    <link rel="icon" href="/img/meet.svg" type="image/icon type" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/landingstyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
    <div class="container text-center text-white">
      <lottie-player
        id="anim"
        src="/img/working.json"
        background="transparent"
        speed="1"
        loop
        autoplay
      ></lottie-player>
      <h1 class="mb-5">Pair Programming</h1>
      <h4 class="mb-4 text-white-50">
        Your one to go solution to find Pair-programmers.
      </h4>
      <a class="btn btn-outline-info" href="/programmers/new">Add Yourself</a>
      <a class="btn text-info btn-link" href="/programmers">
        Meet Some Awesome Devs
      </a>
    </div>
  </body>
</html>
